

body{

}





.mycontainer{

}


.mynav{


}


.navbar-brand{

font-size: 30px;
font-weight: 600;
}

.mylink{

font-size: 16px;
line-height: 23px;
letter-spacing: 0;
font-weight: 600;
margin: 20px;
color: black;

}

.mytitel{
    z-index: 5;
    font-family: "Montserrat";
    height: auto;
    width: auto;
    color:black;
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 75px;
    letter-spacing: -3px;
    font-weight: 700;
    font-size: 90px;
    transform-origin: 50% 50% 0px;
    opacity: 1;
    transform: translate(0px);
    visibility: visible;
  
}

.mybtn1{
    font-family: inherit;
font-size: 14px;
line-height: 1em;
letter-spacing: .03em;
font-weight: 600;


border-radius: 10px;
padding: 20px 40px;
cursor: pointer;
color:  #ffffff;
    padding-right: 35px;
    background-color: #ff4b36;
border-color: #ff4b36;
position: relative;
border: 2px solid transparent;
text-decoration: none;
margin-left: 450px;
}

.mybtn2{
    font-family: inherit;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: .03em;
    font-weight: 600;
   position: relative;
 
    border-radius: 10px;
    color:  white;
    padding: 20px 40px;
    cursor: pointer;
        padding-right: 35px;
        background-color: #ff4b36;
    border-color: #ff4b36;
   margin-left: 20px;
    border: 2px solid transparent;
    text-decoration: none;
}

.myimg{
    margin-left: 70px;
  
}

.myfoto{
   
margin-left: 170px;
color: #08104d;

}

.myheader{
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: .05em;
    display: block;
}

.myuntertitel{
    margin: 0;
    line-height: 1.2em;
    word-wrap: break-word;
    color: #08104d;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -.04em;
}

.myparagraf{
    font-family: Montserrat,sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #666a80;
    margin: 10px 0;
}

.mybutton{
    background-color: #3e49f3;
    border: 2px solid transparent;
    color: #fff;
    

font-family: inherit;
font-size: 14px;
line-height: 1em;
letter-spacing: .03em;
font-weight: 600;

box-sizing: border-box;
border-radius: 10px;
padding: 20px 38px;

text-decoration: none;
margin-left: 110px;
}

.mybutton3{
    background-color: #FF4B36;
    border: 2px solid transparent;
    color: #fff;
    

font-family: inherit;
font-size: 14px;
line-height: 1em;
letter-spacing: .03em;
font-weight: 600;

box-sizing: border-box;
border-radius: 10px;
padding: 20px 38px;

text-decoration: none;

}

.mypicture{
    max-width: none !important;
    transition: none;
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
height: 80%;
width: 70%;
color: rgb(255, 255, 255);
visibility: visible;
margin-left: 50px;
}

.myschreiben{
    display: block;
    margin: 0;
    color: #08104d;
    font-size: 50px;
line-height: 1.02em;
font-weight: 700;
letter-spacing: -.04em;
}

.myspan{
    color: #FF4B36;
}

.mypara{
    font-size: 18px;
    line-height: 22px;
    margin-top: 17px;
    display: block;
    margin: 19px 0 0;
    font-weight: 500;
    color: #666a80;
    font-family: Montserrat,sans-serif;
}

